{{!-- Social share links --}}
<ul id="socialBar" class="side-bar-social-share-style">
	<li>
		<a class="btn linkedin" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Linkedin" 
																																								href="https://www.linkedin.com/shareArticle?url={{url absolute='true'}}&title={{encode title}}" target="_blank">
			<i class="fa fa-lg fa-linkedin"></i>
		</a>
	</li>
	<li>
		<a class="btn facebook" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Facebook"
																																								 href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank">
			<i class="fa fa-lg fa-facebook"></i>
		</a>
	</li>
	<li>
		<a class="btn twitter" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Twitter"
																																								href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank">
			<i class="fa fa-lg fa-twitter"></i>
		</a>
	</li>
</ul>
<!-- <div style="display: table; -->
<!-- height:100%; -->
<!-- width: 100%;"> -->
<!-- 	<div class="iFrameClass"> -->
<!-- 		<iframe name="iframeContainer" id="iframeContainer"></iframe> -->
<!-- 	</div> -->
<!-- </div> -->
