<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
<script type="IN/Share" data-url="https://www.linkedin.com"></script>
{{!-- Social share links --}}
<ul id="socialBar" class="side-bar-social-share-style">
    <li>
    <a class="btn linkedin" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Linkedin"
                                                                                   href="//www.linkedin.com/submit?url={{url absolute='true'}}" target="_blank">
      <i class="fa fa-lg fa-linkedin"></i>
    </a>
    </li>
    <li>
    <a class="btn facebook" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Facebook"
                                                                                   href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" target="_blank">
      <i class="fa fa-lg fa-facebook"></i>
    </a>
    </li>
    <li>
    <a class="btn twitter" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Twitter"
                                                                                  href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank">
      <i class="fa fa-lg fa-twitter"></i>
    </a>
    </li>
    <li>
<a class="btn pinterest" href="https://pinterest.com" target="_blank" rel="noreferrer"
  title="Pinterest" aria-label="Interest">
  <i class="fa fa-lg fa-pinterest" aria-hidden="true"></i>
</a>
    </li>
    <li>
    <a class="btn email" data-permalink="{{url}}" data-title="{{encode title}}" data-network="Twitter"
                                                                                  href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" target="_blank">
      <i class="fa fa-lg fa-envelope"></i>
    </a>
    </li>
<li>  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
</li>
  </ul>
